#editorWrapper {
    position: absolute;
    top: 0px;
    left: 0px;
}

#editComponent {
    justify-content: space-evenly;
}

#editorWidget {
    max-height:100vh;
    min-width: 300px !important;
    width: unset !important;
}

#editorWidget.hide-feature-form {
    border:10px solid #f00;
}

.esri-ui .esri-editor__scroller {
    max-height:100vh;
}

.esri-editor-widget {
    padding: 5px;
}

.activeTool {
    background-color: goldenrod !important;
    color: white !important;
}
